.numbers-container{
    display:flex;
    justify-content: center;
    position: fixed;
    width:80%;
    bottom:4rem;

    button{
        margin-left:1.5rem;
        border-radius: 1rem;
        width:2rem;
        height:2rem;
        background: #5D3891;
        color:#fff;
        border:none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}




@media only screen and (min-width:1300px){
    .numbers-container{
        display:flex;
        justify-content: center;
        position: fixed;
        width:80%;
        bottom:7rem;
    }

}